@import 'utils';
$image-url: 'https://cdn.pixabay.com/photo/2016/01/19/17/36/photographer-1149781_1280.jpg';

.main-title {
    padding: 0 80px;
    float: left;
    h2 {
        color: #fff;
        font-size: 3.5rem;
        padding-bottom: 20px;
    }
    p {
        color: #fff;
        font-size: 1.1rem;
        padding-bottom: 50px;
    }
    .startBtn {
        border: none;
        border-radius: 30px;
        padding: 10px 50px;
        font-size: .9rem;
        font-weight: bold;
        background: #fff;
        color: #333;
        box-shadow: $box-shadow-2;
        transition: box-shadow .5s;
        span {
            color: $main-color;
        }

        &:hover {
            box-shadow: $box-shadow-5;
        }
    }
}

.intro-wrap {
    width: 1400px;
}

#intro {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../assets/images/bg3.jpg') center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .intro-wrap { 
        .image-wrap { 
            position: relative;
            float:right;
            img {
                display: block;
            }
        }
        
    }
}

#intro2 {
    background: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;

    .main-title {
        float:none;
        h2 {
            text-align: center;
            color: #333;
        }
        p {
            text-align: center;
            color: #333;
        }
    }

    .image-wrap {
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        display: flex;
        justify-content: center;        

        img {
            position: relative;
            &[alt=clock] {
                width: 150px;
                height: 150px;
                top: 140px;
                left: -95px;
            }
        }
        
        
    }
}

#intro3 {
    background: #f9f9f9;
    padding: 150px 0;
    
}